{# templates/module/list.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
	<!-- Content Row -->
	<h1>Liste des Modules</h1>
	<div class="row ">
		{% set n = 1 %}
		{% for module in modules %}
			<!-- Earnings (Monthly) Card Example -->
			<div class="col-xl-3 col-md-6 mb-4">
				{% if module.status == 'inactif' %}
					<div class="card border-left-danger shadow h-100 py-2">
					{% else %}
						<div class="card border-left-primary shadow h-100 py-2">
						{% endif %}
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
										Module
										{{ n }}</div>
									<div class="h5 mb-0 font-weight-bold text-gray-800">
										<a href="{{ path('module_details', {'id': module.id}) }}">
											{{ module.name }}
										</a>
									</div>
								</div>

								<div class="col-auto">
									<i class="fas fa-calendar fa-2x text-gray-300"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% set n = n + 1 %}
			{% endfor %}
		</div>


	{% endblock %}
