<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Test Technique Webreathe</title>
		<!-- Inclure vos fichiers CSS et JS ici si nécessaire -->
	</head>
	<body>
		<div style="text-align: center; padding: 50px;">
			<h1 style="font-size: 36px; font-weight: bold;">Test Technique Webreathe</h1>
			<p style="font-size: 18px;">Shahzad Abdul rahman</p>
			<p style="font-size: 18px;">2023</p>
			<a href="{{ path('module_list') }}" style="text-decoration: none; background-color: #007bff; color: #fff; padding: 10px 20px; font-size: 18px; border-radius: 5px;">Entrer sur le site</a>
		</div>
	</body>
</html>
